{% extends "base.html" %}
{% block title %}后台{% endblock %}
{% block content %}
    <div class="container">
        <div class="row ">
        <div class="span4 offset4">
            <form action="/xlogin" method="post" class="well" >
            <h3>系统登录</h3>
            <label>用户名:</label>
            <input type="text" name="username" style="height:30px"class="span3"/>
            <label>密码：</label>
            <input type="password" name="password" style="height:30px" class="span3">
            <button type="submit" class="btn btn-primary">登陆系统</button>
            </form>

            <footer>
            <p>&copy; 404cn.org</p>
            </footer>
        </div>
    
    </div>
{% endblock %}

    
