<!DOCTYPE html>
  <head>
    <meta charset="utf-8" >
    <title>{% block title %}404CN{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
 
    <!-- Le styles -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
 
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
 
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/static/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/static/ico/apple-touch-icon-57-precomposed.png">
    {% block addcss %}{% endblock %}
  </head>
 
    <body>
 
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </a>
                
                <a class="brand" href="/">404CN</a>
                <div class="nav-collapse">
                <ul class="nav">
                <li class = "{{liyi|default:""}}"><a href="/tieba/1/">李毅吧</a></li>
                <li class = "{{real|default:""}}"><a href="/real/1/">热贴</a></li>
                <li class = "{{tu|default:""}}"><a href="/tu/1/">福利图</a></li>
                <li class = "{{kds|default:""}}"><a href="/kds/1/">KDS</a></li>
                <li class = "{{advice|default:""}}"><a href="/advice">留言板</a></li>
                {% block navbar %}{% endblock %}
                </ul>

                <ul class="nav pull-right">
                {% if not username %}
                <li id="loginli"><a href="/userlogin" id="logina">登陆</a></li>
                <li class="divider-vertical"></li>
                <li id="registerli" class="dropdown"><a href="/register" id="registera">注册</a></li>

                {% else %}
                <li id="loginli"><a href="#">帐号名:</a></li>
                <li id="registerli" class="dropdown">
                <a href='#' class='dropdown-toggle' data-toggle='dropdown'>{{ username }}<b class='caret'></b></a>
                <ul class='dropdown-menu'>
                    <li><a href='/tu/1/'>去看看福利图</a></li>
                    <li class='divider'></li>
                    <li><a href='/logout'>登出</a></li>
                </li>
                {% endif%}
                </ul>

                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>
    
    
    {% block content %}{% endblock %}
    
     <footer>
        <p>&copy; 404cn.org</p>
    </footer>
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/jquery.cookie.js"></script>
    <script src="/static/js/bootstrap-transition.js"></script>
    <script src="/static/js/bootstrap-alert.js"></script>
    <script src="/static/js/bootstrap-modal.js"></script>
    <script src="/static/js/bootstrap-dropdown.js"></script>
    <script src="/static/js/bootstrap-scrollspy.js"></script>
    <script src="/static/js/bootstrap-tab.js"></script>
    <script src="/static/js/bootstrap-tooltip.js"></script>
    <script src="/static/js/bootstrap-popover.js"></script>
    <script src="/static/js/bootstrap-button.js"></script>
    <script src="/static/js/bootstrap-collapse.js"></script>
    <script src="/static/js/bootstrap-carousel.js"></script>
    <script src="/static/js/bootstrap-typeahead.js"></script>
 
    </body>
    {% block script %}{% endblock %}
 
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33701837-1']);
      _gaq.push(['_setDomainName', '']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    String.prototype.replaceAll  = function(s1,s2){
        return this.replace(new RegExp(s1,"gm"),s2);
    }
    //$(document).ready(function(){
    //var username = $.cookie('username');
    //var rname = username.slice(2,-1);
    //var rname = username.replace('\\\\','\\');
    //var rname = username.slice(2,-1).replace('\\\\','\\');
    //alert(eval(username));
    //var menu = "<a href='#' class='dropdown-toggle' data-toggle='dropdown'>"+username+"<b class='caret'></b></a><ul class='dropdown-menu'><li><a href='/tu/1/'>去看看福利图</a></li><li class='divider'></li><li><a href='/logout'>登出</a></li>"
    //var menu = "<a href='#' class='dropdown-toggle' data-toggle='dropdown'>"+rname+"<b class='caret'></b></a><ul class='dropdown-menu'><li><a href='/tu/1/'>去看看福利图</a></li><li class='divider'></li><li><a href='/logout'>登出</a></li>"
    //if (username.length)
    //    {
    //    $("#loginli").html('<a href="#">帐号名:</a>')
    //    $("#registerli").html(menu)
    //    }
    //else
    //    alert("not fount username");
        
    //});
    </script>
</html>


