{% extends "base.html" %}


{% block title %}404cn-收集被删的帖子,贵在真实,屌丝,删除的帖子,删掉的帖子{% endblock %}
{% block keywords %}404cn,删的帖子,屌丝,贵在真实,ed2k,麻生希,怎么看,哪里有{% endblock %}
{% block description %}404cn-收集被删的帖子,贵在真实,屌丝,ed2k,李毅吧,求种,麻生希{% endblock %}

{% block content %}
<div class="container">

<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
<h1>404CN-收集被删的帖子</h1>
<p></p>
</div>

<!-- Example row of columns -->
<div class="row">
<div class="span12">
    <table class="table">
    <thead>
      <tr>
        <th>bt</th>
        <th>标题</th>
        <th>作者</th>
        <th>发现时间</th>      
        <th>点击数</th>                
      </tr>
    </thead>
    <tbody>
        {% for post in posts %}
            <td width="50">{% if post.6 %}<img src="/static/img/bt.jpg">{% endif %}</td>
            <td><a href="{{post.0}}" target="_blank">{{post.1}}</a></td>
            <td>{{post.3}}</td>
            <td class="muted">{{post.2}}</td>
            <td>{{post.5}}</td>                
            </tr>
      
        {% endfor %}

    </tbody>

    </table>
</div>
</div>

<div class="row">
<div class="span4 offset4">
    <ul class="pager">
    {% if frontpage %}
        <li>
        <a href="{{frontpage}}">上一页</a>
        </li>
    {% endif %}
    <li>
    <a href="{{nextpage}}">下一页</a>
    </li>
    </ul>
</div>
</div>

<div class="row">
<div class="span12">
  <div class="bs-docs-example">
    <h3>网友们都在看下面的帖子！</h3>
    <ul>
        {% for tie in hot_post %}
            <li><a href="{{tie.0}}">{{tie.1}}</li>
        {% endfor %}
    </ul>
  </div>
</div>
</div>
{% endblock %}
     
