{% extends "base.html" %}
{% block addcss %}
<style type="text/css">
.form-signin {
    width:500px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    }
.form-heading{
    margin-bottom:10px;
}
</style>
{% endblock %}

{% block title %}{{title}}{% endblock %}
{% block content %}
    <div class="container">
        <div class="row ">
            <div class="span4 offset4">

                <form class="bs-dosc form-signin form-horizontal" action="/adduser/" method="post" >
                <h2 class="form-heading">{{content}}</h2>
                <div class="control-group">
                <div class="form-heading">
                    <a type="button" href="{{return_url|default:"/"}}" class="btn btn-info">返回之前的页面</a>
                </div>
                </div>
                </form>                                                                                              

            </div>
        </div>
    </div> <!-- /container -->
{% endblock %}

    
