<!DOCTYPE html>
<html>
<meta charset="utf-8" /> 
<script src="http://code.jquery.com/jquery-1.6.1.min.js"> </script>
<title>diba 被删掉的帖子的管理后台</title>
<style>
body {margin:0px;}
#pagebody {clear:both;margin: 0 auto;width:1000px;}
.item {clear:both;width:1000px;background-color:yellow;}
.context {float:left;width:1000px;}
.context:hover {background-color:yellow;}
.title {float:left;width:600px;}}
.user {float:left;width:100px;}
.post_time {float:left;width:150px;}
.remove {float:right;cursor:pointer;}
</style>
<body>
    <div #pagebody>
    <a href="/kds/manage/1/"><h1>kds 被删掉的帖子</h1></a>
    {% for post in posts %}
        <div class="item">
            <span class="context">
            
                <span class="title">
                    <a href="{{post.0}}" >{{post.1}}</a>
                </span> 
                
                <span class="post_time">{{post.2}}</span> 
                
                <span class="user">{{post.3}}</span>
                
                <span class="remove" id="{{post.0}}">删除</span>
                
            </span>
        </div>
    {% endfor %}

    {% if frontpage %}
    <p>
    <div><a href="{{frontpage}}">上一页</a></div>
    </p>
    {% endif %}
    <p>
    <div><a href="{{nextpage}}">下一页</a></div>
    </p>
    <p id="total_amount">
    {{total_amount}} 
    </p>
        <footer>
        </footer>
    </div>
</body>
<script>
$(document).ready(function(){
  //alert($("#1").parent().html())
  $(".remove").click(function () { 
    //alert($(this).parent().html());
    var url = $(this).attr("id");
    //alert(url);
    $(this).parent().slideUp("slow", function () {
        //$.post("/kds/remove", { "url":url} );
        //var jqxhr = $.post("/kds/remove",{ "url":url});
        //alert('com');
        var jqxhr = $.post("/kds/remove",{ "url":url}, function(data) {
           //alert("删除结果: " + data);
         });
    });
  });

  function get_total_amount(){
    var jqxhr = $.get("/kds/amount", function(data) {
        //alert("total_amount:"+data);
        $("#total_amount").html(data);
    })
    .success(function() { })
    //.error(function() { alert("get post total amount falied"); })
    .complete(function() { window.setTimeout(get_total_amount,5000); });
  }
  get_total_amount()

});
</script>
<html>
