{% extends "base.html" %}
{% block addcss %}
<style type="text/css">
.form-signin {
    width:500px;
    padding: 19px 2px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    }
</style>
{% endblock %}

{% block title %}登录{% endblock %}
{% block content %}
    <div class="container">
        <div class="row ">
            <div class="span4 offset4">

                <form class="bs-dosc form-signin form-horizontal" action="/login" method="post" >

                <div class="control-group">
                <label class="control-label" for="inputEmail">用户名</label>
                <div class="controls">
                <input type="text" id="inputEmail"  name="username" placeholder="">
                </div>
                </div>

                <div class="control-group">
                <label class="control-label" for="inputPassword">密码</label>
                <div class="controls">
                <input type="password" id="inputPassword" name="password" placeholder="">
                </div>
                </div>

                <div class="control-group">
                <div class="controls">
                <button type="submit button" class="btn btn-info"> 登录 </button>
                </div>
                </div>
                </form>                                                                                              

            </div>
        </div>
    </div> <!-- /container -->
{% endblock %}

    
