<!DOCTYPE html>
    <html>
    <head>
    <title>搜罗各种被删除的帖子</title>
    </head>
    <body>
        <div id="mybar">
            <nobr>
            <span class="gb1">
            <a href="/tieba/1/">D8 李毅吧 被删掉的帖子</a>
            </span>                       
            <span class="gb1">
            <a href="/kds/1/">kds 宽带山 被删掉的帖子</a>
            </span>                       
            </nobr>
            </div>
            <div style="text-align:center;">
            <h1>屌丝吧</h1>
            <img alt="屌丝吧" src="/media/img/hh.jpg">
        </div>

        <script type="text/javascript">
        
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-33701837-1']);
          _gaq.push(['_setDomainName', '']);
          _gaq.push(['_trackPageview']);
        
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        
        </script>

    </body>
<html>
