{% extends "base.html" %}
{% block addcss %}
<style type="text/css">
.form-signin {
    width:600px;
    padding: 19px 2px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    }
</style>
{% endblock %}

{% block title %}注册{% endblock %}
{% block content %}
    <div class="container">
        <div class="row ">
            <div class="span4 offset4">

                <form class="bs-dosc form-signin form-horizontal" action="/adduser/" method="post" >
                
                {%if error_input %}
                <div class="alert fade in">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>{{error_input}}!</strong>{{error_reason}} 
                </div>
                {% endif %}

                <div class="control-group ">
                    <label class="control-label" for="inputEmail">需要一个屌爆的名字</label>
                    <div class="controls">
                        <input type="text" id="inputEmail"  name="username" placeholder="春哥" value="{{error_name}}">
                        <span class="help-inline">1-8位的英文,数字,或中文</span>
                    </div>
                </div>

                <div class="control-group ">
                    <label class="control-label" for="inputPassword">需要一个猥琐的密码</label>

                    <div class="controls">
                        <input type="password" id="inputPassword" name="password" placeholder="98wj1d0aw9idoqjr+3%">
                        <span class="help-inline">6以上位的英文或数字</span>
                    </div>
                </div>

                <div class="control-group">
                <div class="controls">
                <button type="submit button" class="btn btn-info">注册走一个</button>
                </div>
                </div>
                </form>                                                                                              

            </div>
        </div>
    </div> <!-- /container -->
{% endblock %}

    
