{% extends "base.html" %}


{% block title %}图吧{% endblock %}

{% block content %}
<div class="container">

<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
<h1>图吧</h1>
<p></p>
</div>

<!-- Example row of columns -->
<div class="row">
        {% for i in img_list %}
            <li class="span4">
                <a href="/tieba/post/2075484146" class="thumbnail" >
                    <img src="http://imgsrc.baidu.com/forum/pic/item/{{ img.url }}" name = "/tieba/post/{{ img.post_url }}" alt="11" width="400" height="300">
                </a>
            </li>
        {% endfor %}

</div>

<div class="row">
<div class="span4 offset4">
    <ul class="pager">
    {% if frontpage %}
        <li>
        <a href="{{frontpage}}">上一页</a>
        </li>
    {% endif %}
    <li>
    <a href="{{nextpage}}">下一页</a>
    </li>
    </ul>
</div>
</div>

{% endblock %}
     

{% block script %}
<script type="text/javascript">
    //破防盗链js
    function ImgRebuild() {
    $(".thumbnail img").each(function(i){
    url = this.src;
    width = this.width;
    height = this.height;
    var imgid = Math.random(),
    var post_url = this.name
    console.log('post_url:'+post_url)
    frameid = 'frameimg' + imgid;
    window['img'+imgid] = '<img id="img" height="300px" width="350px" src=\''+url+'?kilobuga\' /><script>window.onload = function() { parent.document.getElementById(\''+frameid+'\').height = "300" width="400px"; }<'+'/script>';
    //window['img'+imgid] = '<a href="'+post_url+'" ><img id="img" height="300px" width="350px" src=\''+url+'?kilobuga\' /></a><script>window.onload = function() { parent.document.getElementById(\''+frameid+'\').height = "300" width="400px"; }<'+'/script>';
    //img_r = '<iframe id="'+frameid+'" src="javascript:parent[\'img'+imgid+'\'];" frameBorder="0" height="' +height+ '" scrolling="no" width="100%"></iframe>';
    img_r = '<iframe id="'+frameid+'" src="javascript:parent[\'img'+imgid+'\'];" frameBorder="0" height="300px" width="400px" scrolling="no" ></iframe>';
    $(this).replaceWith(img_r);
    });
    return '';
    }
    ImgRebuild();
</script>

{% endblock %}

