{% extends "base.html" %}


{% block title %}李毅吧{% endblock %}

{% block content %}
<div class="container">

<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
<h1>李毅吧</h1>
<p></p>
</div>

<!-- Example row of columns -->
<div class="row">
<div class="span12">
    <table class="table">
    <thead>
      <tr>
        <th>标题</th>
        <th>作者</th>
        <th>发现时间</th>      
        <th>回复/阅读</th>                
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href='http://404cn.org/tieba/post/1946977409' target="_blank">昨晚上网捡到一张4G卡 内容如大家所想（非黄勿护）</a></td>
        <td>菜市场的男人</td>
        <td class="muted">2012-10-27 17:42</td>
        <td>1/10</td>                
      </tr>
      
      <tr>
        <td>111《爆》女吊可敢爆自己胸围加图，男吊可敢爆女友女神的胸围加..</td>
        <td>跌倒别哭</td>
        <td class="muted">2012-10-27 16:47</td>                
        <td>1/10</td>
      </tr>
      
      <tr>
        <td>终于搞到这些妹子的种子了，还有没看过的速度进，不发砍屌人..</td>
        <td>ajtvbxu769355</td>
        <td class="muted">2012-10-27 13:18</td>                
        <td>42/1000</td>
      </tr>
      

    </tbody>

    </table>
</div>
</div>

<div class="row">
<div class="span4 offset4">
    <ul class="pager">
    <li>
    <a href="#">前一页</a>
    </li>
    <li>
    <a href="#">后一页</a>
    </li>
    </ul>
</div>
</div>

<div class="row">
<div class="span12">
  <div class="bs-docs-example">
    <h3>其他人正在乐呵呵看下面的帖子！</h3>
    <ul>
      <li>【爆照】那些年，本吊护过的少女和少妇。。。。</li>
      <li>深夜福利。龙泽萝拉。。。骗人是小狗</li>
      <li>那些逆天的中学生！中学生的逆袭！【转】</li>
      <li>大家都在找这个吧，我要完整版的，拿去吧</li>
      <li>我玩弄了别人的女神 ！</li>
    </ul>
  </div>
</div>
</div>
{% endblock %}
     