{% extends "base.html" %}


{% block title %}后台管理{% end%}

{% block navbar %}
{% end%}

{% block content %}
<div class="container">

<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
<h1>店铺后台</h1>
<p id="total_amount">0</p>
</div>

<!-- Example row of columns -->
<div class="row">
<div class="span12">
    <table class="table">
    <thead>
      <tr>
        <th>来源</th>
        <th>店铺名</th>
        <th>店铺id</th>                
        <th>卖家id</th>
        <th>入库时间</th>
        <th>最后更新时间</th>                
      </tr>
    </thead>
    <tbody>
        {% for shop in shops %}
            <tr>
            {%if shop['site'] == 'tb'%}
            <td>淘宝</td>
            <td><a href="{{shop['url']}}">{{shop['name'][:20]}}</a></td>
            {%else%}
            <td>天猫</td>
            <td><a href="{{shop['url']}}">{{shop['name'][:20]}}</a></td>
            {%end%}
            <td>{{shop['sid']}}</td>
            <td>{{shop['sellerid']}}</td>
            <td>{{shop['createtime'].strftime('%Y-%m-%d %H:%M')}}</td>
            <td>{{shop['lastupdatetime'].strftime('%Y-%m-%d %H:%M')}}</td>
            <td><button href="#" class="btn btn-danger remove" >删除</button></td>            
            </tr>
            
        {% end%}

    </tbody>

    </table>
</div>
</div>

<div class="row">
    <div class="span4 offset4">
        <ul class="pager">
        {% if page>1 %}
        <li>
        <a href="/shop/{{page-1}}/">上一页</a>
        </li>
        {% end %}
        <li>
        <a href="/shop/{{page+1}}/">下一页</a>
        </li>
        </ul>
        </div>
</div>

     
{% end%}
